:root {
  --mainWhite: #f5f5f5f5;
  --mainDark: #333333;
  --mainGreen: #317b22;
  --mainRed: #b80c09;
  --mainBlue: #05668d;
}

.feedback{
    display: none;
}
.showItem{
    display: block;
}
.showGreen {
  display: block;
  color: var(--mainWhite);
  background-color: var(--mainGreen);
}